@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;1,500&family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica,sans-serif;
}
.menu{
    display: flex;
}
.max-width{
    width: 100%;
}
.navbar{
    display: flex;
    height: 92px;
    background: #22262a;
    color: white;
    position: relative;
 
}
.div-logo{
    position: relative;
    width: 200px;
    height: 40px;
    left: 100px;
    top: 15px;
}
.div-event{
    position: relative;
    top: 1px;
    height: 25px;
   
}

.div-logo p{
    position: relative;
    left: 30px;
    bottom: 22px;
    font-family: Arial, Helvetica, sans-serif;
}
.div-logo p span{
    color: #E9D032;

}

.logo-marvel{
    width: 145px;
    height: 70px;
    position: relative;
    left: 33%;
    bottom: 9px;
    font-size: 10px;
}
.div-card{
    position: relative;
    width: 200px;
    height: 53px;
    left: 50%;
}
.div-cardIcon{
    position: relative;
    top: 10px;
}
.div-card p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 35px;
    bottom: 22px;
}
.div-card  p span{
    position: relative;
    top: 15px;
    right: 65px;

}
.div-search{
    position: relative;
    left: 50%;
    top: 15px;
}

.links-nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
    top: 63px;
    flex:left;
    list-style-type: none;
    height: 10px;
    right: 10%;
}    
.links-nav li a{
    color: #fff;
    padding: 20px;
    font-weight: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    
}
.links-nav li a:hover{
    color: red;
}
/*end navbar*/
.menu-body{
    width: 101%;
    height: 640px;
    overflow: hidden;
}
.menu-body .imgs{
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.menu-body .imgs img{
    width: 19.9%;
    
}
@keyframes animacao {
    0% {margin-left: 0%;}
    20% {margin-left: 0%; }
    25% {margin-left: -100%; }
    45% {margin-left: -100%; }
    50% {margin-left: -200%; }
    70% {margin-left: -200%; }
    75% {margin-left: -300%; }
    95% {margin-left: -300%; }
    100% {margin-left: -400%; }
    
}
.title{
    position: relative;
    bottom:70%;
    width: 200px;
    height: 150px;
}

.logo-homem-aranha{
    position: relative;
    width: 350px;
    height: 220px;
    bottom: 110%;
    left: 40px;
}
.title-end{
    position: relative;
    bottom: 70%;
    width: 200px;
    height: 200px;
}
.title-end p{
    color: #fff;
    position: relative;
    bottom: 80%;
    left: 29%;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}
.link-1{
    position: relative;
    bottom: 70%;
    left: 30px;
    background-color: #e62429;
    padding: 15px 45px;
    text-transform: uppercase;
    color: #fff;
    line-height: 16px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    display: inline-block;
    clip-path: polygon(0% 35%, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 65%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    cursor: pointer;
}
.link-1:hover{
    background-color: #22262a;
    color: #e62429;
}
.link-2{
    position: relative;
    bottom: 70%;
    background-color: #e62429;
    left: 50%;
    padding: 15px 45px;
    clip-path: polygon(0% 35%, 15% 0%, 85% 0%, 100% 0, 100% 15%, 100% 65%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
    text-transform: uppercase;
    color: #fff;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
    cursor: pointer;
}
.link-2:hover{
    background-color: #22262a;
    color: #e62429;
}