@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,500;1,500&family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica,sans-serif;
   
}
.menu{
    display: flex;
}
.max-width{
    width: 100%;
}
.navbar{
    display: flex;
    height: 92px;
    background-color: rgb(222, 12, 12);
    color: white;
    position: relative;
 
}
.div-logo{
    position: relative;
    width: 200px;
    height: 92px;
    left: 100px;
}
.logo-homem-aranha img{
    position: relative;
    top: 15px;
    width: 40px;
    height: 40px;
    right: 20px;

}

.logo-homem-aranha p{
    position: relative;
    left: 20px;
    line-height: 16px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    bottom: 15px;    
}
.div-logo p:hover{
    color: #22262a;
}

.logo-marvel{
    width: 145px;
    height: 70px;
    position: relative;
    left: 33%;
    bottom: 9px;
    font-size: 10px;
}
.div-card{
    position: relative;
    width: 200px;
    height: 53px;
    left: 50%;
    line-height: 16px;
    
    font-weight: 600;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
}
.div-cardIcon{
    position: relative;
    top: 10px;
}
.div-card p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 35px;
    bottom: 22px;
}
.div-card  p span{
    position: relative;
    top: 15px;
    right: 65px;
    cursor: pointer;

}
.div-card p:hover{
   color: #22262a;
}
.div-search{
    position: relative;
    left: 50%;
    top: 15px;
    height: 30px;
    cursor: pointer;
}
.links-nav{
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
    top: 63px;
    flex:left;
    list-style-type: none;
    height: 10px;
    right: 10%;
    line-height: 16px;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet MS", Helvetica, Arial, sans-serif;
    
}    
.links-nav li a{
    color: #fff;
    padding: 20px;
    font-weight: 20pt;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    
}
.links-nav li a:hover{
    color: #22262a;
}
/*end navbar*/
.menu-body{
    width: 101%;
    height: 50%;
}
.imgs{
    width: 101%;
    height: 900px;
    overflow: hidden;
}
.menu-body .imgs{
    width: 500%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
.menu-body .imgs img{
    width: 19.9%;
    
}

/*end imagem principal*/
.personagens{
    width: 100%;
    height: 1000px;
    position: relative;
    top: 10%;
    object-fit: contain;
    background-color: #000;
}
.title_personagens{
    color: #fff;
    font-family: "DINNextW01-CondensedMedium", "Trebuchet Mf", Helvetica, Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 35px;
}
.descricao_personagens{
    width: 100%;
    height: 800px;
    color: #fff;
    
}
.spider_venom{
    width: 19%;
    height: 60%;
    position: relative;
    top: 11%;
    left: 8%;
    border: 2px solid rgb(222, 12, 12);
    border-radius: 15px;
}
.title_spider_venom{
    color: #fff;
    position: relative;
    top: 11.5%;
    left: 8%;
    width: 15%;
}
.descricao_spider_venom{
    position: relative;
    width: 20%;
    top: 14%;
    left: 8%;
    font-size: 1.4em;
    font-weight: 400;

}
/*end spider venom */
.peter_miles{
    width: 19%;
    height: 60%;
    border: 2px solid rgb(222, 12, 12);
    border-radius: 15px;
    position: relative;
    left: 30%;
    bottom: 79%;
}
.title_peter_miles{
    color: #fff;
    position: relative;
    bottom: 78%;
    left: 30%;
    width: 20%;
}
.descricao_peter_miles{
    color: #fff;
    position: relative;
    width: 20%;
    bottom: 76%;
    left: 30%;
    font-size: 1.4em;
    font-weight: 400;
}
/* end peter e miles */
.imagem_venom{
    width: 19%;
    height: 60%;
    border: 2px solid rgb(222, 12, 12);
    border-radius: 15px;
    left: 52%;
    position: relative;
    bottom: 156%;
}
.title_venom{
    color: #fff;
    position: relative;
    left: 52%;
    width: 20%;
    bottom: 155%;
}
.descricao_venom{
    color: #fff;
    position: relative;
    width: 20%;
    left: 52%;
    font-size: 1.4em;
    font-weight: 400;
    bottom: 154%;
}
/*end venom */
.imagem_park{
    width: 19%;
    height: 60%;
    border: 2px solid rgb(222, 12, 12);
    border-radius: 15px;
    left: 74%;
    position: relative;
    bottom: 239%;
}
.title_park{
    color: #fff;
    position: relative;
    bottom: 238%;
    left: 74%;
    width: 20%;
}
.descricao_park{
    color: #fff;
    position: relative;
    bottom: 237%;
    left: 74%;
    font-size: 1.4em;
    font-weight: 400;
    width: 20%;
}
/*end park */
/*inicio descricao spiders */

.desc_spider{
    width: 100%;
    height: 900px;
    position: relative;
}
.img_desc{
    width: 100%;
    height: 800px;
    overflow: hidden;
    filter: brightness(0.5);
}
.title_desc{
    position: relative;
    bottom: 65%;
    font-size: 1.5em;
    font-weight: 800;
    color: #a1a2a4;
    left: 10%;
}
.segundo_title_desc1{
    position: relative;
    bottom: 64%;
    font-size: 1.5em;
    font-weight: 800;
    color: #a1a2a4;
    left: 10%;
}
.segundo_title_desc2{
    position: relative;
    bottom: 67%;
    color: #a1a2a4;
    left: 25%;
    font-size: 1.5em;
    font-weight: 800;
}
.text_desc{
    position: relative;
    width: 40%;
    height: 300px;
    bottom: 62%;
    color: #a1a2a4;
    left: 10%;
    font-size: 1.4em;
    font-weight: 700;
}
/*segunda parte da desc spider */
.text_spider{
    color: #a1a2a4;
    width: 40%;
    height: 300px;
    bottom: 107%;
    left: 55%;
    position: relative;
    font-weight: 700;
    font-size: 1.4em;
}
.text_spider_2{
    color: #a1a2a4;
    width: 40%;
    height: 300px;
    bottom: 110%;
    left: 55%;
    position: relative;
    font-weight: 700;
    font-size: 1.4em;

}





