@font-face {
    font-family: "luisa";
    src: url(font/LuÃ­sa.ttf);
}
@font-face {
    font-family: "spider";
    src: url(font/the_amazing_spider_man/The\ Amazing\ Spider-Man.ttf);
}

body {
    padding: 0;
    margin: 0;
}
.caixa {
    width: 100%;
    height: 800px;
}

.caixa1 {
    position: absolute;
    height: 70%;
    width: 100%;
    display: flex;
}

.caixa2 {
    background-image: linear-gradient(to top, #1a2841 0%, #0b1322 100%, #080a0e 100%);
    position: absolute;
    width: 100%;
    height: 700px;
}

.aranha {
    position: absolute;
    opacity: .2;
    width: 480px;
    left: 60px;
    top: 50px;
}

.caixa3 {
    position: absolute;
    color: white;
    width: 400px;
    top: 150px;
    left: 150px;
}

.caixa3 h1 {
    font-family: "spider";
    margin-left: 30px;
    font-size: 50px;
    
}

.caixa3 p {
    font-family: "luisa";
    text-align: center;
    font-size: 14px;
    margin-left: -100px;
    margin-top: -20px;

}

.but1 {
    width: 150px;
    border-radius: 10px;  
    background-color: red; 
    padding: 15px 5px;
    box-shadow: 0px 0px 15px red;
    margin-left: -30px;
    margin-top: 30px;
    cursor: pointer;
}
.but1 li {
    list-style: none;
    text-align: center;
}
.but1 a {
    font-family: "luisa";
    text-decoration: none;
    color: white;
}
.but2 {
    position: absolute;
    width: 200px;
    border-radius: 10px;  
    background-color: red; 
    padding: 15px 5px;
    box-shadow: 0px 0px 15px red;
    margin-left: 150px;
    margin-top: 214px;
    cursor: pointer;
}
.but2 li {
    list-style: none;
    text-align: center;
}
.but2 a {
    font-family: "luisa";
    text-decoration: none;
    color: white;
}

.spider {
    position: absolute;
    width: 890px;
    margin-left: 640px;
    margin-top: 60px;
}

.menu {
    position: absolute;
    margin-left: 250px;
    margin-top: 20px;
}
.menu ul {
    list-style: none;
}
.menu li {
    display: inline-block;
    margin-right: 50px;
}
.menu a {
    font-family: "luisa";
    text-decoration: none;
    color: red;
}
.menu a:hover {
    color: brown;

}

.logo {
    position: absolute;
    width: 180px;
    margin-top: 5px;
    margin-left: 30px;
}
.logo1 {
    position: absolute;
    width: 50px;
    margin-left: 1410px;
    margin-top: 25px;
}

.produtora {
    position: absolute;
    width: 100px;
    margin-left: 1300px;
    top: 36px;
}
.cont {
    position: absolute;
    margin-top: 10px;
    font-family: "luisa";
    height: 0px;
}
.cont hr {
    margin-top: -80px;
    margin-left: 0px;
    width: 110px;
    border: 2px solid rgba(255, 255, 255, 0.658);
}
.cont h1 {
    color: #fff;
    margin-left: 60px;
    display: inline-block;
    margin-top: 530px;
    text-align: center;
}
.h01 {
    position: absolute;
    margin-top: -100px;
}
.cont span {
    font-size: 20px;
}
.cont p {
    color: #fff;
    text-align: center;
    margin-top: -20px;
    font-size: 10px;
}

.cont div {
    margin-left: 140px;
    margin-right: -120px;
    width: 200px;
    height: 0px;
    display: inline-block;
}
.div-trailer {
    width: 100%;
    height: 800px;
    position: relative;
    margin: 0%;
}
.div-trailer video {
    position: absolute;
    margin: 0px;
    padding: 0px;
}
.div-detalhes {
    width: 30%;
    height: 857px;
    z-index: 444444;
    position: absolute;
    margin-top: 1.3% ;
    padding-left: 5%;
    background-image: linear-gradient(to right, #000007 15%, #0000 100%, #0000 100%);
    font-family: "Roboto", sans-serif;
}.titulo-trailer {
    color: #fff;
    margin: 25px;
    margin-top: 90px;
    font-size: 2.0em;
}
.texto-1 {
    color: #fff;
    margin: 25px;
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    margin-top: 20px;
}
.texto-2 {
    color: #fff;
    margin: 25px;
    margin-top: 20px;

}
.texto-2 span {
    border: 2px solid #fff;
    padding: 5px;
}
.div-radio {
    background-color: #292b338a;
    width: 300px;
    height: 40px;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    margin-top: 30px;

}
.input-radio {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.label-radio {
    color: #fff;
    font-weight: 600;
    font-size: 2.0em;
    padding: 10px;
}
.button-detalhes {
    border-radius: 10px;
    background-color: #d63d00;
    width: 300px;
    height: 40px;
    margin: 5px;
    margin-top: 30px;

}
.button-detalhes a {
    color: #fff;
    text-decoration: none;
    font-family: "Roboto",sans-serif;
    padding: 15px;
    font-size: 1.4em;
    font-weight: 600;
}
.texto-3 {
    color: #fff;
    margin: 5px;
    margin-top: 20px;
}